@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&family=Poppins:wght@600&display=swap");

/* ------------Header start--------------- */

.brights {
  width: 100%;
  height: 800px;
  background-size: cover;
  background-image: url("/img/background.png");
  background-repeat: no-repeat;
  background-position: center;
}

.wrapper {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 140px;
}

.first__text {
  font-weight: 700;
  font-size: 100px;
  line-height: 110%;
  -webkit-text-fill-color: transparent;
  -webkit-text-stroke: 1px #fff;
}
input[type="range"] {
  appearance: none;
  height: 2px;
  background-image: linear-gradient(#7a66cc, #7a66cc);
  background-size: 0% 100%;
  background-repeat: no-repeat;
  cursor: pointer;
}

::-webkit-slider-thumb {
  appearance: none;
  background-color: #7a66cc;
  width: 2px;
  height: 20px;
  cursor: ew-resize;
}

::-moz-range-thumb {
  appearance: none;
  background-color: #7a66cc;
  width: 2px;
  height: 20px;
  cursor: ew-resize;
}

::-ms-thumb {
  appearance: none;
  background-color: #7a66cc;
  width: 2px;
  height: 20px;
  cursor: ew-resize;
}

::-webkit-slider-runnable-track {
  appearance: none;
  background: transparent;
}

::-moz-range-track {
  appearance: none;
  background: transparent;
}

::-ms-track {
  appearance: none;
  background: transparent;
}

.player {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 27px;
}

.play-btn {
  background-color: transparent;
  min-width: 22px;
  height: 25px;
  cursor: pointer;
}

.play-btn-img {
  width: 100%;
  height: 100%;
}

.play-progress {
  width: 100%;
  margin: 0 45px;
}

.play-time {
  font-family: "Poppins", sans-serif;
  color: white;
  font-size: 18px;
  line-height: 27px;
  font-weight: 500;
  min-width: 110px;
}

/* ------------Header end--------------- */

/* --------------all__album start-------------- */

.all__album {
  margin-top: -150px;
}
.image-container {
  position: absolute;
  bottom: -280px;
}

.music-desc__card {
  position: relative;
}

.brights__card {
  background-color: rgb(156, 156, 249, 0.4);
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
}
/* --------------all__album end-------------- */

/* ---------------brights-lights-info start------------ */
.brights-right-info-img1 {
  position: relative;
  width: 300px;

}

.brights-right-info-img2 {
  width: 300px;
}

/* ---------------brights-lights-info end------------ */

.bright-describtion-img{
  right: 250px;
}
/* ------------brights-gallery start------------ */

.gallery-img {
  height: 500px;
  width: 255px;
  position: relative;
}

.gallery-img-second {
  height: 236px;
  width: 255px;
  position: relative;
}


.gallery-img-third {
  height: 236px;
  width: 540px;
  position: relative;
}

.img-layout {
  position: absolute;
  width: 100%;
  height: 100%;
  z-index: 10;
  border-top-left-radius: 30px;
  border-bottom-right-radius: 30px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  transition: 0.25s;
  color:white;
}


.img-layout:hover {
  opacity: 1;
}

.place-img-layout {
  margin-top: 105px;
  position: absolute;
  border-radius: 10px;
  z-index: 1;

  text-align: center;
  justify-content: flex-end;
}

/* ------------brights-gallery end------------ */

/* -----------bright tickets start-------------------- */

.brights-tickets-card {
  width: 100%;
  padding-right: 0 !important;
}

.brights-tickets-card:hover {
  width: 100%;
  padding-right: 0 !important;
}

.swiper {
  width: 100%;
  height: 100%;
}

/* -----------bright tickets end-------------------- */
  

/* -------------------Footer start---------------- */
.footer-icons {
  display: flex;
  justify-content: center;
}

/* -------------------Footer end---------------- */

/* Reponsive Design_____start */

.navbar-toggle {
  display: none;
}

.navbar-mobile-hide{ 
  margin-left: 0px !important;
  transition: 0.25s;
 
}


@media (max-width: 1440px) and (min-width: 1200px) {
.header_text{
  position: relative;
  font-size: 38px;
  margin-top: 200px;
}
.brights-gallery {
  display: none;
}

.all__album {
  margin-top: -150px;
}
.image-container {
  position: absolute;
  bottom: -280px;
}

.music-desc__card {
  position: relative;
}

.brights__card {
  background-color: rgb(156, 156, 249, 0.4);
  position: absolute;
  bottom: 0;
  height: 90px;
  width: 100%;
}
.bright-describtion-img{
  top:20px;
  right: 200px;
}
}


@media (max-width: 1199px) and (min-width: 992px) {
  .header_text{
    position: relative;
    font-size: 38px;
    margin-top: 200px;
  }

  .brights-gallery {
    display: none;
  }
 
  .all__album {
    margin-top: -150px;
  }
  .image-container {
    position: absolute;
    bottom: -280px;
  }
  
  .music-desc__card {
    position: relative;
  }
  
  .brights__card {
    background-color: rgb(156, 156, 249, 0.4);
    position: absolute;
    bottom: 0;
    height: 90px;
    width: 100%;
  }

  
.last-tracks{
  position: relative;
}
.last-tracks-img{
  position: absolute;
}
.last-traks-tex{
  position: relative;
}

.bright-describtion-img{
  top: 30px;
  right: 200px;
  width: 300px;
}

}
@media (max-width: 1023px) and (min-width:1001px) {
  .bright-describtion-img{
    top: 70%;
    right: 100px;
    width: 300px;
  }
  .last-tracks{
   margin-top:30%;
    position: relative;
  }
}
@media (max-width: 1031px)  {
  .navbar a{
    margin-left: 10px;
    margin-right: 10px;
  }
  
  .header_text{
    position: relative;
    font-size: 38px;
    margin-top: 200px;
  }
}

@media (max-width: 1020px)  {
  .navbar a{
    margin-left: 10px;
    margin-right: 10px;
  }

  .header_text{
    position: relative;
    font-size: 38px;
    margin-top: 200px;
  }
  
}
@media (max-width: 991px) and (min-width:900px) {
  .brights-lights-info{
    padding-top: 80px !important;
  }
  
.bright-describtion-img{
  top: 70%;
  right: 100px;
  width: 300px;
}
  
.last-tracks{
   margin-top:35% !important;
   position: relative;
 }

}


@media (max-width: 991px) and (min-width: 768px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
  }
  .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 254, 240, 0.01);
    backdrop-filter: blur(100.6px);
    border-radius: 20px;
    color: white;
    width: 50%;
    position: relative;
    margin-left: -5000px;

  }

  .navbar a {
    color: white;
    padding-bottom: 10px;
    position: relative;
    padding-left: 30px !important; 
    width: 100%;
    text-align: left;
  }

  .navbar-toggle {
    right: 50px;
    z-index: 1100;
    top: 32px;
   
    display: block;
    position: absolute;
    /* color: white;
    border: 1px solid white; */
  }

  .header_text{
    position: relative;
    font-size: 30px;
    margin-top: 200px;
  }

  .img_header-icons{
    display: none;
  }
  .px-24{
    padding-left: 0 !important;
    padding-right: 0!important;
  }

  .menu-music-img{
    width: 10% !important;
    
  }


  .all__album {
  margin-top: -200px;
}
.image-container {
  position: absolute;
  bottom: -280px;
}

.music-desc__card {
  position: relative;
}

.brights__card {
  background-color: rgb(156, 156, 249, 0.4);
  position: absolute;
  bottom: 0;

}

.brights-gallery {
  display: none;
}

.last-tracks{
  margin-top:40% !important;
  position: relative;
}
.last-tracks-img{
  position: absolute;
}
.last-traks-tex{
  position: relative;
}

.bright-describtion-img{
  top: 70%;
  right: 100px;
  width: 300px;
}
}

@media (max-width: 767px) and (min-width: 576px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 254, 240, 0.01);
    backdrop-filter: blur(100.6px);
    border-radius: 20px;
    color: white;
    width: 100%;
    position: relative;
    margin-left: -5000px;

  }

  .navbar a {
    color: white;
    padding-bottom: 10px;
    position: relative;
    padding-left: 30px !important; 
    width: 100%;
    text-align: left;
  }

  .navbar-toggle {
    right: 50px;
    z-index: 1100;
    top: 32px;
   
    display: block;
    position: absolute;
    /* color: white;
    border: 1px solid white; */
  }

  .header_text{
    position: relative;
    font-size: 38px;
    margin-top: 100px;
  }

  .img_header-icons{
    display: none;
  }
  .px-24{
    padding-left: 0 !important;
    padding-right: 0!important;
  }

  .menu-music-img{
    /* width: 10%; */
    transform: scale(0,1 0,1);
  }


  .all__album {
  margin-top: -180px;
}
.image-container {
  position: absolute;
  /* bottom: -200px; */
}

.music-desc__card {
  position: relative;
}

.brights__card {
  background-color: rgb(156, 156, 249, 0.4);
  position: absolute;
  bottom: 0;

}

.brights-gallery {
  display: none;
}
.last-tracks{
  margin-top:40% !important;
  position: relative;
}
.last-tracks-img{
  position: absolute;
}
.last-traks-tex{
  position: relative;
}

.bright-describtion{
  width: 100%;
}

.bright-describtion-img{
  top: 73%;
  right: 100px;
  width: 250px;
}

}


@media (max-width: 675px) and (min-width: 576px){
  .bright-describtion{
    width: 100%;
  }
  
  .bright-describtion-img{
    top: 73%;
    right: 90px;
    width: 200px;
  }

  .last-tracks{
    margin-top:40% !important;
    position: relative;
  }

  .uses-for-address{
    font-size: 15px;
  }
  .uses-for-sub-first{
    margin-right: 20px;
  }
  .uses-for-sub{
    margin-right: 20px;
  }
}

@media (max-width: 576px) and (min-width: 400px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 254, 240, 0.01);
    backdrop-filter: blur(100.6px);
    border-radius: 20px;
    color: white;
    width: 100%;
    position: relative;
    margin-left: -5000px;

  }

  .navbar a {
    color: white;
    padding-bottom: 10px;
    position: relative;
    padding-left: 30px !important; 
    width: 100%;
    text-align: left;
  }

  .navbar-toggle {
    right: 50px;
    z-index: 1100;
    top: 32px;
   
    display: block;
    position: absolute;
    /* color: white;
    border: 1px solid white; */
  }

  .header_text{
    position: relative;
    font-size: 38px;
    margin-top: 200px;
  }

  .img_header-icons{
    display: none;
  }
  .px-24{
    padding-left: 0 !important;
    padding-right: 0!important;
  }

  .menu-music-img{
    /* width: 10%; */
    transform: scale(0,1 0,1);
  }


  .all__album {
  margin-top: -200px;
}
.image-container {
  position: absolute;
  bottom: -280px;
}

.music-desc__card {
  position: relative;
}

.brights__card {
  background-color: rgb(156, 156, 249, 0.4);
  position: absolute;
  bottom: 0;

}

  .brights-gallery {
    display: none;
  }

  .last-tracks{
    margin-top:25% !important;
    position: relative;
  }
  .last-tracks-img{
    position: absolute;
  }
  .last-traks-tex{
    position: relative;
  }

  .last-traks-text-first{
    margin-top: 15px;
    font-size: 30px;
  }
  .last-traks-text-second{
    font-size: 15px;
  }
  .bright-describtion{
    width: 100%;
  }
  
  .bright-describtion-img{
    top: 75%;
    right: 80px;
    width: 150px;
  }

  .uses-for-address{
    font-size: 10px;
  }
  .uses-for-sub-first{
    padding-left: 60px;
   padding-right: 20px;
  }
  .uses-for-sub{
   margin-right:30px; 
  
  }
  

}
@media (max-width: 545px) and (min-width: 495px){
  .last-tracks-img {
    width: 380px;
  }

  .uses-for-address{
    font-size: 10px;
  }
}
  

}
@media (max-width: 503px) and (min-width: 497px){
  .bright-describtion{
    width: 100%;
  }
  
  .bright-describtion-img{
    top: 80%;
    right: 70px;
    width: 100px;
  }
  .uses-for-address{
    font-size: 10px;
  }
}
@media (max-width: 496px) and (min-width: 400px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 60px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 254, 240, 0.01);
    backdrop-filter: blur(100.6px);
    border-radius: 20px;
    color: white;
    width: 100%;
    position: relative;
    margin-left: -5000px;

}
.navbar a {
  color: white;
  padding-bottom: 10px;
  position: relative;
  padding-left: 30px !important; 
  width: 100%;
  text-align: left;
}

.header_text{
  position: relative;
  font-size: 38px;
  margin-top: 200px;
}

.last-tracks{
  position: relative;
}

.last-traks-tex{
  position: relative;
}

.last-tracks-img{
  width: 300px;
  position: absolute;
}

.last-traks-text-first{
  margin-top: 4%;
  font-size: 30px;
}
.last-traks-text-second{
  font-size: 15px;
}
.bright-describtion{
  width: 100%;
}

.bright-describtion-img{
  display: none;
}
}

@media (max-width: 399px) {
  .wrapper {
    max-width: 1440px;
    margin: 0 auto;
    padding: 0 30px;
  }

  .navbar {
    display: flex;
    flex-direction: column;
    background: rgba(255, 254, 240, 0.01);
    backdrop-filter: blur(100.6px);
    border-radius: 20px;
    color: white;
    width: 100%;
    position: relative;
    margin-left: -5000px;

  }

  .navbar a {
    color: white;
    padding-bottom: 10px;
    position: relative;
    padding-left: 30px !important; 
    width: 100%;
    text-align: left;
  }

  .navbar-toggle {
    right: 10px;
    z-index: 1100;
    top: 32px;
   
    display: block;
    position: absolute;
    /* color: white;
    border: 1px solid white; */
  }

  .header_text{
    position: relative;
    font-size: 38px;
    margin-top: 100px;
  }

  .img_header-icons{
    display: none;
  }
  .px-24{
    padding-left: 0 !important;
    padding-right: 0!important;
  }

  .menu-music-img{
    /* width: 10%; */
    transform: scale(0,1 0,1);
  }


  .all__album {
  margin-top: -200px;
}
.image-container {
  position: absolute;
  bottom: -280px;
}

.music-desc__card {
  position: relative;
}

.brights__card {
  background-color: rgb(156, 156, 249, 0.4);
  position: absolute;
  bottom: 0;

}

.brights-right-info-img{
display: none;
}

.brights-gallery {
  display: none;
}


.last-tracks{
  position: relative;
}
.last-tracks-img{
  width: 300px;
  position: absolute;
}

.last-traks-text-first{
  margin-top: 4.5%;
  font-size: 30px;
}
.last-traks-text-second{
  font-size: 15px;
}
.last-traks-tex{
  position: relative;
}
}

@media (max-width: 399px){
  .bright-describtion-img{
    display: none;
  }

  .last-tracks-img{
    width: 250px;
    position: absolute;
  }
  .uses-for-address{
    font-size: 8px;
  }
  .uses-for-sub-first{
    padding-left: 70px;
   padding-right: 10px;
  }
  .uses-for-sub{
   margin-right:10px; 
  
  }
}



